<div class="mainContain">
    <h1>hello</h1>
    {{#each characters}}
    <div class="charContainer">
        <h2>Name: {{name}}</h2>
        <div class="image"><img src="{{image}}" alt="{{name}}"></div>
        <p class="stats">HP: {{hp}}</p>
        <p class="stats">Attack 1: "{{attack_points_1}}"</p>
        <p class="stats">Attack 2: "{{attack_points_2}}"</p>
        <button class="btn" Data-id="{{id}}"></button>
    </div>
    {{/each}}
</div>