<div class="mainContain">
    <h1>Choose Your Character!</h1>
    {{#each characters}}
    <div class="charContainer">
        <h2 id="name" data-val="{{name}}">Name: {{name}}</h2>
        <div class="imageHolder">
            <img src="{{image}}" alt="{{name}}"></div>
            <div class="statsHolder">
                <p class="stats" id="hp" data-val="{{hp}}">HP: {{hp}}</p>
                <p class="stats" id="attack-1" data-val="{{attack_points_1}}">Attack 1: "{{attack_points_1}}"</p>
                <p class="stats" id="attack-2" data-val="{{attack_points_2}}">Attack 2: "{{attack_points_2}}"</p>
                <button class="signBtn btn characterButton" data-id="{{id}}">Select This Character</button>
            </div>
        </div>
        {{/each}}
    </div>
