<div>
    <div id="selectedChar" class="char">
        <h1>{{character.name}}</h1>
        <div>
            <img src="/../{{character.image}}" alt="{{character.name}}">
        </div>
        <p class="stats" data-val="{{character.hp}}">Character HP: {{character.hp}}</p>
        <div class="btnContainer">
            <button id="character-attack1" data-val="{{character.attack_points_1}}" data-clicked=false>Attack 1:
                {{character.attack_points_1}}</button>
            <button id="character-attack2" data-val="{{character.attack_points_2}}" data-clicked=false>Attack 2:
                {{character.attack_points_2}}</button>
        </div>
    </div>
    <div id="oppChar" class="char">
        <h1>{{opponent.name}}</h1>  
        <div class="img">
            <img src="/../{{opponent.image}}" alt="{{opponent.name}}">
        </div>
        {{!-- this will need to be data-val="{{hp}}" eventually --}}
        <p class="oppStats" data-val={{opponent.hp}}>Opp HP: {{opponent.hp}}</p>
        <p class="score">Score: 0</p>
    </div>
</div>