<div>
    <h1>This works FIGHT.HTML</h1>
    <div id="selectedChar" class="char" data-val="{{character.id}}">
        <h1>{{character.name}}</h1>
        <div class="img">
            {{!-- <img src="{{character.image}}" alt="{{character.name}}"> --}}
        </div>
        <p class="score">Score: 0</p>
        <p class="stats" data-val="{{character.hp}}">Character HP: {{character.hp}}</p>
        <div class="btnContainer">
            <button id="character-attack1" data-val="{{character.attack_points_1}}" data-clicked=false>Attack 1:
                {{character.attack_points_1}}</button>
            <button id="character-attack2" data-val="{{character.attack_points_2}}" data-clicked=false>Attack 2:
                {{character.attack_points_2}}</button>
        </div>
    </div>

    <div id="oppChar" class="char">
        <h1>{{name}}</h1>
        <div class="img">
            <img src="{{image}}" alt="{{name}}">
        </div>
        {{!-- this will need to be data-val="{{hp}}" eventually --}}
        <p class="oppStats" data-val="150">Opp HP: {{hp}}</p>
    </div>
</div>