<div>
    <h1>This works FIGHT.HTML</h1>
    <div id="selectedChar" class="char">
        <h1>{{character.name}}</h1>
        <div>
            <img src="/../{{character.image}}">
        </div>
        <p class="stats">HP: {{character.hp}}</p>
        <div class="btnContainer">
            <button class="statBtn">Attack 1: "{{character.attack_points_1}}"</button>
            <button class="statBtn">Attack 2: "{{character.attack_points_2}}"</button>
        </div>
    </div>
    <div id="oppChar" class="char">
        <h1>{{opponent.name}}</h1>
        <div class="img">
            <img src="/../{{opponent.image}}" alt="{{opponent.name}}">
        </div>
        <p class="stats">HP: {{opponent.hp}}</p>
    </div>
</div>