<div>
    <div id="selectedChar" class="char" data-val="{{character.id}}">
        <h1 id="characterName" data-val="{{character.name}}">{{character.name}}</h1>
        <div>
            <img id="characterImg" src="/../{{character.image}}" alt="{{character.name}}">
        </div>
        <p class="stats" id="characterHp" data-val="{{character.hp}}">Character HP: {{character.hp}}</p>
        <div class="btnContainer">
            <button id="character-attack1" data-val="{{character.attack_points_1}}" data-clicked=false>Attack 1:
                {{character.attack_points_1}}</button>
            <button id="character-attack2" data-val="{{character.attack_points_2}}" data-clicked=false>Attack 2:
                {{character.attack_points_2}}</button>
        </div>
    </div>
    <div id="oppChar" class="char">
        <h1 id="opponentName" data-val="{{opponent.name}}">{{opponent.name}}</h1>  
        <div class="img">
            <img id="opponentImg" src="/../{{opponent.image}}" alt="{{opponent.name}}">
        </div>
        <p class="oppStats" id="opponentHp" data-val={{opponent.hp}}>Opp HP: {{opponent.hp}}</p>
        {{!-- I added these so I can pass the hit values in to app.js--}}
        <p id= "opponent-attack1" data-val="{{opponent.attack_points_1}}"></p>
        <p id="opponent-attack2" data-val="{{opponent.attack_points_2}}"></p>
        <p class="score">Score: 0</p>
    </div>
</div>